/**
 * Project - Section
 */

.section {
  &__inner {
    position: relative;
    background-color: $bodyBg;
    overflow: hidden;
  }
  
  &__container {
    @extend %__containerLg;
  }

  &__heading {
    display: block;
    margin-top: 0;
    margin-bottom: 4.5rem;
    color: themeColor("dark");
    font-weight: 700;
    font-size: $h1FontSize;
    line-height: 1.25;

    &::before {
      content: attr(data-title);
      display: block;
      color: themeColor("primary");
      font-weight: 700;
      font-size: $h4FontSize;
      line-height: 2;
      text-transform: uppercase;

    }

    .has-background & {
      color: themeColor("lightest");

      &::before {
        color: themeColor("dark");
      }
    }
  }
}
