<!-- wp:template-part {"slug":"header","tagName":"header","className":"header --change"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-hero","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-intro","tagName":"section","className":"intro"} /-->

<!-- wp:template-part {"slug":"section-stance","tagName":"section","className":"stance"} /-->

<!-- wp:template-part {"slug":"section-interview","tagName":"section","className":"interview"} /-->

<!-- wp:template-part {"slug":"section-works","tagName":"section","className":"works"} /-->

<!-- wp:template-part {"slug":"section-career","tagName":"section","className":"career"} /-->

<!-- wp:template-part {"slug":"section-job-list","tagName":"section","className":"job-list"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->